# ignore pycache folder (and those in subdirectories)
__pycache__/
data_collect_app/__pycache__/
prediction_rnn_app/__pycache__/
# ignore notebook chechpoints (and those in subdirectories)
.ipynb_checkpoints/
data_collect_app/.ipynb_checkpoints/
# ignore tensorboard logs
tf_log/

